* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.dbsnavbar {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
/* Styler links i navbar */
.navbar-nav .nav-link {
    color: white;
}
.dbslogo {
    height: auto;
    width: 100px;
}

.deadliftnavbar {
    display: flex;
    justify-content: flex-end;

}

.deadlifthjemmebillede {
    border-radius: 0;
}

.deadliftlayered {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.deadlifthbilledet {
    height: 500px;
}

.deadlifthjemmetxt {
    text-align: center;
}

.deadliftoverlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    width: auto;
}

.deadliftoverlaytitel,
.deadliftoverlayptitel {
    text-align: center;
    color: white;
    margin: 0;
}

/*
.dbsmaincontainer {
 
}
*/
.dbsfrontpageh1 {
    padding: 20px;
    text-align: center;
}

.dbsreviews {
    background-color: black;
    width: 100%;
    margin-bottom: 50px;
}

.dbsreviewcontainer {
    max-width: 1200px;
    text-align: center;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;

}

.reviewbilled {
    height: auto;
    width: 200px;
}
.dbsreviewelementer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.rounded-container {
    border-radius: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
}
/*INDHOLD i frontpage*/ 
.dbscard-title {
    font-size: 24px;
    background-color: white;
    padding-top: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dbscard-title{
    color: black;
}
.mintxt {
    font-size: small;
    text-align: left;
    padding: 15px;
}


.hover-effect {
    transition: transform 0.3s ease-in-out;
}

.hover-effect:hover {
    transform: scale(1.1);
}

.deadliftcontcont {
    background-color: #d9d9d9;
    padding-top: 50px;
    padding-bottom: 50px;
}

.dbsrows {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

/*User reviews*/
.dbsuserreviewcontainer{
    padding-bottom: 50px;
}


/*Footer*/ 
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 32px 9%;
    background: black;
}

.footer-text {
    font-size: 16px;
    color: white;
}

.footerikontop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    background: #ffa500;
    border-radius: 10px;
}

.footerikontop {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 35px;
}


/*Squat side!*/
.list-group-item a:hover {
    color: #4682b4;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.card {
    background-color: transparent;
}

.dbssquatcontainer{
    padding-bottom: 5px;
}

.squatcard {
    color: white;
}
.dbssquatcard{
    background-color: #222;
    border: solid 10px #222
}
.dbssquatcard-titel{
    color:white;
    display: flex;
    justify-content: center;
}

.dbsyoutubevid{
    height: 450px ;
    padding-bottom: 50px;
}

.squatequip p {
    padding-bottom: 20px;
}
.squatequip h1 h2 {
    padding-top: 15px;
}
.squatequip img {
   width: 375px;
   height: auto;
}

  /*CAROUSEL*/
.dbsreviewlink{
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
}

  .dbscarousel{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /*Contact form side*/
  .dbscontactform{
    background: transparent;
    border: grey solid 1px;
  }