* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.dbsnavbar {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.dbslogo {
    height: auto;
    width: 70px;
}

.deadliftnavbar {
    display: flex;
    justify-content: flex-end;
}

.deadlifthjemmebillede {
    border-radius: 0;
}

.deadliftlayered {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.deadlifthbilledet {
    height: 500px;
}

.deadlifthjemmetxt {
    text-align: center;
}

.deadliftoverlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    width: auto;
}

.deadliftoverlaytitel,
.deadliftoverlayptitel {
    text-align: center;
    color: white;
    margin: 0;
}

.mintxt {
    color: red;
    font-size: small;
    text-align: left;
}

.dbsmaincontainer {
    background-color: #d9d9d9;
}

.dbsfrontpageh1 {
    padding: 50px;
}

.dbsreviews {
    background-color: black;
    width: 100%;
    margin-bottom: 50px;
}

.dbsreviewcontainer {
    max-width: 1200px;
    text-align: center;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
}

.reviewbilled {
    height: auto;
}

.rounded-container {
    border-radius: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.movie-title {
    font-size: 24px;
    background-color: grey;
    padding-top: 5px;
}

.hover-effect {
    transition: transform 0.3s ease-in-out;
}

.hover-effect:hover {
    transform: scale(1.1);
}

.deadliftcontcont {
    background-color: #d9d9d9;
    padding-top: 50px;
    padding-bottom: 50px;
}

.dbsrows {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 32px 9%;
    background: black;
}

.footer-text {
    font-size: 16px;
    color: white;
}

.footerikontop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    background: #ffa500;
    border-radius: 10px;
}

.footerikontop {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 35px;
    color: whitesmoke;
}

.list-group-item a:hover {
    color: #4682b4;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.card {
    background-color: transparent;
}

.squatcard {
    color: white;
}
  /*CAROUSEL*/
  .dbscarousel{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
