*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}
.deadliftnavbar{
    display: flex;
    justify-content: end;
}

.deadlifthjemmebillede{
    border-radius: 0; 
    
}

.deadliftlayered {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.deadlifthbilledet{
    height: 500px;
}

.deadlifthjemmetxt{
text-align: center;
}

.deadliftoverlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    width: auto; /* Make the overlay span the entire width of the image */


}

.deadliftoverlaytitel,
.deadliftoverlayptitel {
    text-align: center;
    color: white; /* Ensure text is white */
    margin: 0; /* Remove default margin */
}



.deadliftoverlaytitel,
.deadliftoverlayptitel {
    text-align: center;
    color: white; /* Ensure text is white */
    margin: 0; /* Remove default margin */
}

.mintxt{
    color: red;
    font-size: small;
    text-align: left;
}

.rounded-container {

    border-radius: 15px; 
    padding-bottom: 15px; 
    margin-bottom: 20px; 
    margin-top: 15px;
}

.movie-title{
    font-size: 24px;
}
.mintxt, .movie-title{
    background-color: grey;
    padding-top: 5px;
    
}
.hover-effect {
    transition: transform 0.3s ease-in-out; /* Smooth transition effect */
}

.hover-effect:hover {
    transform: scale(1.1); /* Scale up the image by 10% */
}



