*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

.dbsnavbar{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.dbslogo{
    height: auto;
    width: 70px;
}

.deadliftnavbar{
    display: flex;
    justify-content: end;
}

.deadlifthjemmebillede{
    border-radius: 0; 
    
}

.deadliftlayered {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.deadlifthbilledet{
    height: 500px;
}

.deadlifthjemmetxt{
text-align: center;
}

.deadliftoverlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    width: auto; /* Make the overlay span the entire width of the image */
}

.deadliftoverlaytitel,
.deadliftoverlayptitel {
    text-align: center;
    color: white; /* Ensure text is white */
    margin: 0; /* Remove default margin */
}



.deadliftoverlaytitel,
.deadliftoverlayptitel {
    text-align: center;
    color: white; /* Ensure text is white */
    margin: 0; /* Remove default margin */
}

.mintxt{
    color: red;
    font-size: small;
    text-align: left;
}

.dbsmaincontainer{
    background-color: #D9D9D9;
}

.dbsfrontpageh1{
    padding: 50px;
}


.dbsreviews{
    background-color: black;
    width: 100%;

   
    margin-bottom: 50px;
}

.dbsreviewcontainer{
    max-width: 1200px;
    text-align: center;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
}

.reviewbilled{

    height: auto;
}

.rounded-container {

    border-radius: 15px; 
    padding-bottom: 15px; 
    margin-bottom: 20px; 
    margin-top: 15px;
}

.movie-title{
    font-size: 24px;
}
.mintxt, .movie-title{
    background-color: grey;
    padding-top: 5px;
    
}
.hover-effect {
    transition: transform 0.3s ease-in-out; /* Smooth transition effect */
}

.hover-effect:hover {
    transform: scale(1.1); /* Scale up the image by 10% */
}

.deadliftcont {

    padding-top: 50px;
    padding-bottom: 50px;
  }

  .dbsrows{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }

/*USER REVIEW SECTION*/
  .dbsuserreviewcontainer{

  }

  /*CAROUSEL*/
  .dbscarousel{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

 .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 32px 9%;
    background: black;
}
.footer-text {
    font-size: 16px;
    color: white;
}
.footerikontop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    background: #D9D9D9;
    border: 3px solid white;
    border-radius: 10px;
}
.footerikontop{
    position: fixed; /* Set the position to fixed */
    bottom: 0; /* Position the footer at the bottom of the viewport */
    right: 0;
    padding: 35px;
}